<div class="container mt-3">
    <div class="row card">
        <div class="col-md-4 card-body m-auto">
            <form (ngSubmit)="crearConvocatoria()" novalidate #form="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" class="form-control" name="nombre"
                    [(ngModel)]="nombre" required />
                </div>
                <div class="form-group">
                  <label for="descripcion">Descripción</label>
                  <textarea id="descripcion" type="text" class="form-control" name="descripcion"
                  [(ngModel)]="descripcion" required >
                  </textarea>
              </div>
              <div class="form-group">
                <label for="descripcion">Fecha Publicación</label>
                <input matInput [min]="minDate" [matDatepicker]="picker" class="form-control" name="fechaPublicacion" [(ngModel)]="fechaPublicacion" required style="display:inline; width: 250px;">
                <mat-hint>Dia/Mes/Año</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <div class="form-group">
                <label for="descripcion">Perfil</label>
                <mat-form-field appearance="fill" required style="display: inline;">
                  <mat-select [(value)]="perfil" >
                    <mat-option *ngFor="let perfil of perfilList" [value]="perfil">
                      {{perfil}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
              <label for="estado">Estado</label>
              <section class="example-section">
                <mat-slide-toggle
                    class="example-margin"
                    [color]="color"
                    [(ngModel)]="estadoConvocatoria"
                    name="estado">
                  Estado convocatoria {{estadoConvocatoria ? "Activa" : "Inactiva" }}
                </mat-slide-toggle>
              </section>
            </div>
              <hr>
                <button class="btn btn-success btn-block" [disabled]="!form.valid">Crear</button>
            </form>
        </div>
    </div>
</div>
