<div class="container mt-4" *ngIf="convocatoria">
    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
              <h5 class="card-title">{{convocatoria.nombre}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Descripción convocatoria {{convocatoria.descripcion}}</h6>
              <p class="card-text"></p>
              <div class="card-footer text-center">
                <button class="btn btn-success" (click)="atras()">Atrás</button>
              </div>
            </div>
          </div>
    </div>
</div>
