<div class="container mt-4" *ngIf="convocatoria">
    <div class="row justify-content-center">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <div class="card-body text-center">
              <h2 class="card-title">{{convocatoria.nombre}}</h2>
              <h3 class="card-text">Descripción convocatoria {{convocatoria.descripcion}}</h3>
              <h3 class="card-subtitle mb-2 text-muted">¿Para quien fue creada? {{convocatoria.perfil}}</h3>
              <h3 class="card-subtitle mb-2 text-muted">Faltan {{diasRestante}} días para el cierre </h3>
              <p class="card-text"></p>
              <div class="card-footer text-center">
                <button class="btn btn-success" (click)="atras()">Atrás</button>
              </div>
            </div>
          </div>
    </div>
</div>
